* {
  font-family: "JetBrains Mono Nerd Font", monospace;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background: rgb(113, 129, 125);
  border-radius: 0.2rem;
}

#workspaces button.active {
  border-bottom: 0.2em solid red;
  border-bottom-color: red;
  transition: border-bottom 1s ease-in-out;
  font-weight: bold;
}
